html {
    font-size: 18px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

button {
    background-color: mediumpurple;
    color: white;
    padding: 10px;
    transition: all 0.1s ease-in;
}

button:hover {
    background-color: rebeccapurple;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.auth {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.auth form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.auth form span {
    display: flex;
    gap: 5px;
}
