@page
@model KorokNET.Pages.ReviewModel

@{
    ViewData["Title"] = "Review";
}

<h1>Оставьте отзыв</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.Text" class="control-label"></label>
                <input asp-for="Review.Text" class="form-control" />
                <span asp-validation-for="Review.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Rate" class="control-label"></label>
                <input asp-for="Review.Rate" class="form-control" />
                <span asp-validation-for="Review.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./User">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
